table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: #B3E8E5;
}

td, th {
    border: 1px solid #6b5b95;
    text-align: centre;
    padding: 5px;
}
input {
    background-color: #F6D860;
}

td:nth-child(1) {
    background-color: #F6D860;
}

td:hover {background-color: #E3CAA5;}

th {
    background-color: #C69B7B;
}

td {
    background-color: #FFEBC1;
}

footer {
  font-family: 'Merriweather', serif;
   position:relative;
   left:0px;
   bottom:0px;
   height:50px;
   width:100%;
   background: transparent;
}


/* 
.wrapper {
    height:100%;
    
    display: grid;
    place-items: center;
  }
  
  .typing {
    width: 141ch;
    animation: typing 2.5s steps(30, end), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 15px solid;
    font-family: monospace;
    font-size: 1.5em;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    100% {
       border-color: rgb(38, 65, 25) 
    }
  } */
  a { color: rgb(13, 65, 10); text-decoration: none; text-transform: uppercase; }

  html, body {
    height: 100%; 
  }
  
  body {
    background: linear-gradient(-45deg, #3c0b0b, #c36e1d, #cf973d, #4f2009);
	  background-size: 400% 400%;
    font-family: 'Merriweather', serif;
    display: flex;
    margin: auto;
    justify-content: center;
    color: rgb(53, 52, 52);
  }
  
  .container {
    margin: 100px 15px;
    max-width: 1370px;
    
    @media screen and (min-width: 600px){ 
      padding: 0 30px;
    }
  }
  
  h2 {
    font-weight: 400;
  }
  
  p {
    font-size: 16px;
    line-height: 26px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
    
    @media screen and (min-width: 1200px){ 
      font-size: 18px;
      line-height: 30px;
    }
  }