table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: #B3E8E5;
}

td, th {
    border: 1px solid #6b5b95;
    text-align: centre;
    padding: 5px;
}
input {
    background-color: #F6D860;
    size: 2em;
}

td:nth-child(1) {
    background-color: #F6D860;
}

td:hover {background-color: #E3CAA5;}

th {
    background-color: #C69B7B;
}

td {
    background-color: #FFEBC1;
}

footer {
  font-family: 'Merriweather', serif;
   position:relative;
   left:0px;
   bottom:0px;
   height:50px;
   width:100%;
   background: transparent;
}

  a { color: rgb(13, 65, 10); text-decoration: none; text-transform:capitalize }

  html, body {
    height: 100%; 
  }
  
  body {
    background: linear-gradient(-45deg, #703535, #c36e1d, #cf973d, #4f2009);
	  background-size: 400% 400%;
    font-family: 'Merriweather', serif;
    display:block;
    justify-content:space-around;
    color: rgb(24, 23, 23);
  }
  
  .container {
    margin: 10px 15px;
    max-width: 1370px;
       
  }
  
  h2 {
    font-weight: 400;
  }
  
  p {
    font-size: 20px;
    line-height: 26px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
  }

label {
  font-size: 18px;
  color: rgb(41, 41, 41);
  }