table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: #B3E8E5;
}

td, th {
    border: 1px solid #6b5b95;
    text-align: centre;
    padding: 5px;
}
input {
    background-color: #F6D860;
}

td:nth-child(1) {
    background-color: #F6D860;
}

td:hover {background-color: #E3CAA5;}

th {
    background-color: #C69B7B;
}

td {
    background-color: #FFEBC1;
}

footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:50px;
   width:100%;
   background: aliceblue;
}
/*
body {background-color: #EEEEEE;}
*/

body {
	background: linear-gradient(-45deg, #d8a1a1, #d5ce47, #cba361, #746b64);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

.wrapper {
    height: 100vh;
    
    display: grid;
    place-items: center;
  }
  
  .typing {
    width: 141ch;
    animation: typing 3s steps(30, end), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 15px solid;
    font-family: monospace;
    font-size: 1.5em;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    100% {
      /* border-color: rgb(38, 65, 25) */

    }
  }