{% extends 'base2.html' %}

{% block head %}
{% endblock %}
{% block content %}
<p style="text-align:center"><input id="txt" name="order" type="text" maxlength="5" size="5">
<input id='btn' type="submit" value="add stock" onclick="location.href='http://127.0.0.1/'+document.getElementById('txt').value"></p>    
<div class="wrapper">
    <div class="typing">
<p style="text-align:center"><a href="/run" target="_blank"><b>=Run=</b></a> - Needs ONE click run unless code is interrupted somehow. [ Runs python code to pull all stock data from API ] </p> 
<p style="text-align:center">Script output - <a href="/view"><b>=View Dashboard=</b></a> - after run [ Every 13 seconds ( Api allows 5 requests/min for free) it adds Random $tock from SPY500 list ]</p>
<p style="text-align:center">Web app tabularizes Stocks data from Api & SPY500 list. [ Plus, manually entered stocks at '/anystock' ex. http://192.168.0.100/TSLA ]</p>
    
</div>
{% endblock %}