{% extends "base2.html" %}

{% block content %}
<!-- <section class="container"> -->
<h4><p style="text-align:center"><button onclick="window.location.href='/run'">=Run=</button><br> Needs ONE click run unless code is interrupted somehow.<br>[ Runs python code to pull all stock data from Api ] </p></h4>
<h4><p style="text-align:center"><button onclick="window.location.href='/view'">=Refresh Dashboard=</button><br> Script output :>- after run on 13 seconds interval it adds Random $tock from SPY500 list <br>[ ( Api allows 5 requests/min for free) ]</p></h4>
<h4><p style="text-align:center">Stocks in table: {% print(df.shape[0]) %} out of SPY500. <br>[ Plus, manually entered stocks at <b>'/anystock'</b> ex. http://{{ ip }}/{% print(df.iloc(0)[0, 0]) %} ]</p></h4>

<p style="text-align:center"><input id="txt" name="order" type="text" maxlength="5" size="5">
<input id='button' type="button" value="add stock" onclick="location.href='http://192.168.1.104/'+document.getElementById('txt').value"></p>

<meta http-equiv="refresh" content="35; URL=/view">


  <table>
    <thead>

      <tr>
        {% for col in column_names %}
        <th>
        
          {{col}}
         
        </th>
        {% endfor %}
      </tr>

    </thead>
    <tbody>
      {% for row in row_data %}
      <tr>
        {% for col, row_ in zip(column_names, row) %}

        <td>{{ row_ }}</td>
        {% endfor %}
      </tr>
      {% endfor %}


    </tbody>

  </table>  

  {% block scripts %} 

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
</head><body><script type="text/javascript">$(document).ready(function(){$('table').DataTable({
    "pageLength": 15,
    order: [[10, 'desc']]
});});</script> 

    {% endblock %}
{% endblock %}
