{% extends "base2.html" %}
{% block content %}
<title>FlaskStockly</title>
<meta http-equiv="refresh" content="{% if enableRefresh %}60{% else %}600{% endif %}; URL=/view">
<div id="loading2"><h1 style="text-align:center; margin-top: 100px">Loading...</h1></div>
<div id="loading3"><h2 style="text-align:center">Hang on tight! click on refresh if it's loading forever...</h2></div>
<div>
  {% if isBrQexecuted %}
  <h6 style="text-align:center; color: green;">Run query is working in background...</h6>
  {% else %}{% endif %}
  {% if isApiDemo %}
    <center><h3>__Api key is set to 'demo'; App may not work as expected__</h3></center>
  {% else %}
    <center><h5>__(o).(o)__</h5></center>
  {% endif %}
</div>
<h4><p style="text-align:center">
  <button id="trending-stocks" type="button">Trending Stocks</button>
  <button id="view-dashboard" type="button">Refresh</button>
  <input id="txt" name="addstock" type="text" maxlength="5" size="7" >
  <button id="add-stock" type="button">=Add Stock=</button>
  <button id="view-stock" type="button" title="View Stock News, Institution Holders, Charts, etc.">=$tock dashboard=</button>
  
  <center>
    <form method="post" action="/run" style="display:inline-block;">
    <label style="display:inline-block;"><input type="checkbox" name="lists" value="SPY500"> SPY500</label>
    <label style="display:inline-block;"><input type="checkbox" name="lists" value="SPY600"> SPY Small 600</label>
    <label style="display:inline-block;"><input type="checkbox" name="lists" value="Rus1000"> Rus1000</label>
    <label style="display:inline-block;"><input type="checkbox" name="lists" value="Djia30"> Djia30</label>
    <label style="display:inline-block;"><input type="checkbox" name="lists" value="Nasdaq100"> Nasdaq100</label>
    <label style="display:inline-block;"><input type="checkbox" name="lists" value="Stocklist"> Stocklist </label>
    <input type="submit" title="Check one or all boxes. Got list of Stocks?? add it to stocksList.txt file.
    With free API Total_time = stocks * 12.5 seconds :) Grab coffee! It'll take a while" value="Run">
    </form> 
  </center></p></h4>
  <form method="post" name="autor" action="/changechart">
    <input type="submit" value="Bar/Scatter" title="Choose your chart style">
  </form>
<div id="chart" class="chart"></div>
{% if positiveCount and negativeCount %}<center><h6>Stock market indexes Strong stocks: <span style="color: green;">{{ positiveCount }}</span> Weak stocks: <span style="color: red;"> {{ negativeCount }} </span> Neutral stocks: <span style="color: rgb(236, 243, 102);"> {{ noMoveCount }} </span></h6></center>
{% else %} {% endif %}
<form method="post" name="autor" action="/refresh">
  <input type="checkbox" name="enableRefresh" {% if enableRefresh %}checked{% endif %}>{% if enableRefresh %}<span id="timer">60</span> seconds to refresh {% else %} {% endif %}
  <input type="submit" value="Auto-refresh" title="Click to turn on/off auto-refresh">
</form>
  <div>
    {% if stockinfo %}
  <div class="tabley">  
  <table>
    <thead>

      <tr>
        {% for col in column_names %}
        <th>
        
          {{col}}
         
        </th>
        {% endfor %}
      </tr>

    </thead>
    <tbody>
      {% for row in row_data %}
      <tr>
        {% for col, row_ in zip(column_names, row) %}

        {% if col == 'Symbol' %}
       
        <td><a href="/stock_data?symbol={{ row_ }}" target="_blank">{{ row_ }}</a></td>

        {% elif col == 'Change' and row_|float < 0.0 %}
       
        <td style ="background-color: rgb(205, 151, 151)"> {{ row_ }} </td>

        {% elif col == "Change percent" and row_|float > 3.0 %}

        <td style ="background-color: #eff3f8"> {{ row_ }} </td>

        {% else %}
       
        <td> {{ row_ }} </td>
      
        {% endif %}
        <!-- <td>{{ row_ }}</td> -->
        {% endfor %} 
      </tr>
      {% endfor %}


    </tbody>

  </table></div>
  {% else %}
  <div class="tabley">  
    <table>
      <thead>
  
        <tr>
          {% for col in column_names2 %}
          <th>
          
            {{col}}
           
          </th>
          {% endfor %}
        </tr>
  
      </thead>
      <tbody>
        {% for row in row_data2 %}
        <tr>
          {% for col, row_ in zip(column_names2, row) %}
  
          {% if col == 'Symbol' %}
         
          <td><a href="/stock_data?symbol={{ row_ }}" target="_blank">{{ row_ }}</a></td>
  
          {% elif col == 'Change' and row_|float < 0.0 %}
         
          <td style ="background-color: rgb(205, 151, 151)"> {{ row_ }} </td>
  
          {% elif col == "Change percent" and row_|float > 3.0 %}
  
          <td style ="background-color: #eff3f8"> {{ row_ }} </td>
  
          {% else %}
         
          <td> {{ row_ }} </td>
        
          {% endif %}
          {% endfor %} 
        </tr>
        {% endfor %}
  
  
      </tbody>
  
    </table></div>
  {% endif %}</div>
  <div>
    <h5 style="text-align:center;">Organize and streamline your stock information with our user-friendly web application. With data gathered from the APIs and Index lists
    <br>[ As well as the option to manually add stocks through the '/anystock' page (e.g. http://{{ip}}/{% print(df.iloc(0)[0, 0]) %}) ]
    <br> Or add stocks to stockList.txt and simply click on run!
    <br> you have the flexibility to track the stocks that matter most to you. Conveniently run locally at {{ ip }}
    <br> Stay on top of the latest market trends with ease. :)<br>

    [ The RUN script efficiently retrieves all stock data from the API, utilizing Python code. ]<br>
      With its optimized 13-second interval, it seamlessly adds a random stock from the SPY500 list.
      <br>[ (Note: the API allows for 5 free requests per minute) ]</h5></div>
      
  {% block scripts %} 
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
<script type="text/javascript">$(document).ready(function(){$('table').DataTable({
    "pageLength": 15,
    order: [[10, 'desc']]
});});</script> 
  <script>
    const trendingStocksButton = document.getElementById("trending-stocks");
    const viewDashboardButton = document.getElementById("view-dashboard");
    const addStockButton = document.getElementById("add-stock");
    const viewStockButton = document.getElementById("view-stock");
    const input = document.getElementById("txt");
  
    trendingStocksButton.addEventListener("click", function() {
      window.location.href = "/run2";
      $('#loading2').show();
    });
  
    viewDashboardButton.addEventListener("click", function() {
      window.location.href = "/view";
      $('#loading2').show();
    });
  
    input.addEventListener("keyup", function() {
      this.value = this.value.toUpperCase();
    });
  
    addStockButton.addEventListener("click", function() {
      location.href = `http://{{ ip }}/${input.value}`;
    });
  
    viewStockButton.addEventListener("click", function() {
      location.href = `http://{{ ip }}/stock_data?symbol=${input.value}`;
    });
</script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  {% if stockinfo %}
  <script type="text/javascript">
    var graphs = {{graphJSON | safe}};
    Plotly.plot('chart',graphs,{});        
</script>
{% else %}
<script type="text/javascript">
  var graphs = {{graphJSON2 | safe}};
  Plotly.plot('chart',graphs,{});        
</script>
{% endif %}
    <script>
      $(window).on('load', function () {
          $('#loading').hide();
          $('#loading2').hide();
          $('#loading3').hide();
          })
      </script>

<script>
  {% if enableRefresh %}
    var time = 60;
    var timer = setInterval(function() {
      time -= 1;
      document.getElementById('timer').innerHTML = time;
      if (time <= 0) clearInterval(timer);
    }, 1000);
  {% endif %}
</script>
    {% endblock %}
{% endblock %}
