{% extends "base2.html" %}

{% block content %}
<title>Trend Dashboard</title>
<!-- <section class="container"> -->
<div id="loading2"><h1 style="text-align:center; margin-top: 100px">Working on it...</h1></div>
<meta http-equiv="refresh" content="{% if enableRefresh2 %}30{% else %}300{% endif %}; URL=/run2">
<h4><p style="text-align:center">__<button onclick="window.location.href='/view'">Stock Market Indexes</button>____<button onclick="window.location.href='/run2'">=Refresh Dashboard=</button>___<input id="txt" name="addstock" type="text" maxlength="5" size="5">
<input id='button' type="button" value="add stock" onclick="location.href='http://{{ ip }}/'+document.getElementById('txt').value"></p>
<div id="chart" class="chart"></div>
<form method="post" name="autor" action="/refresh2">
  <input type="checkbox" name="enableRefresh2" {% if enableRefresh2 %}checked{% endif %}>  
  <input type="submit" value="Auto-refresh" title="Click to turn on/off auto-refresh">
</form>
  <div class="tabley"> 
  <table>
    <thead>

      <tr>
        {% for col in column_names %}
        <th>
        
          {{col}}
         
        </th>
        {% endfor %}
      </tr>

    </thead>
    <tbody>
      {% for row in row_data %}
      <tr>
        {% for col, row_ in zip(column_names, row) %}
        {% if col == 'ticker' %}
       
        <td><a href="/stock_data?symbol={{ row_ }}" target="_blank">{{ row_ }}</a></td>

        {% elif col == 'rvol' and row_|float > 1.0 %}
       
        <td style ="background-color: #a4b5cb"> {{ row_ }} </td>

        {% else %}
       
        <td> {{ row_ }} </td>
      
        {% endif %}
        {% endfor %}
      </tr>
      {% endfor %}


    </tbody>

  </table></div>

   
    {% block scripts %} 
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
</head><body><script type="text/javascript">$(document).ready(function(){$('table').DataTable({
    "pageLength": 15,
    order: [[9, 'desc']]
});});</script> 
  <script>
    $('button[onclick^="window.location.href=\'/run2\'"]').click(function(){
        $('#loading2').show();
    });
    $('button[onclick^="window.location.href=\'/view\'"]').click(function(){
        $('#loading2').show();
    });
    $(window).on('load', function () {
        $('#loading2').hide();
    }); 
</script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script type="text/javascript">
    var graphs = {{graphJson | safe}};
    Plotly.plot('chart',graphs,{});        
  </script>
  <script>
    $(window).on('load', function () {
      $('#loading').hide();
    }) 
  </script>
    {% endblock %}
{% endblock %}
