{% extends "base2.html" %}

{% block content %}
<title>Trend Dashboard</title>
<!-- <section class="container"> -->
<h4><p style="text-align:center">__<button onclick="window.location.href='/view'">=SPY500=</button>____<button onclick="window.location.href='/run2'">=Refresh Dashboard=</button>___<input id="txt" name="addstock" type="text" maxlength="5" size="5">
<input id='button' type="button" value="add stock" onclick="location.href='http://{{ ip }}/'+document.getElementById('txt').value"></p>
<div id="chart" class="chart"></div>
<meta http-equiv="refresh" content="100; URL=/run2">


  <table>
    <thead>

      <tr>
        {% for col in column_names %}
        <th>
        
          {{col}}
         
        </th>
        {% endfor %}
      </tr>

    </thead>
    <tbody>
      {% for row in row_data %}
      <tr>
        {% for col, row_ in zip(column_names, row) %}
        {% if col == 'rvol' and row_|float > 1.0 %}
       
        <td style ="background-color: #10223a"> {{ row_ }} </td>

        {% else %}
       
        <td> {{ row_ }} </td>
      
        {% endif %}
        <!-- <td>{{ row_ }}</td> -->
        {% endfor %} 
      </tr>
      {% endfor %}


    </tbody>

  </table>
   
    {% block scripts %} 
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script type="text/javascript">
    var graphs = {{graphJSON | safe}};
    Plotly.plot('chart',graphs,{});        
  </script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
</head><body><script type="text/javascript">$(document).ready(function(){$('table').DataTable({
    "pageLength": 15,
    order: [[9, 'desc']]
});});</script> 

    {% endblock %}
{% endblock %}
