{% extends "base2.html" %}

{% block content %}
<div class="ticker">
    <div class="ticker-content">
        {% for stock in multiListStocks %}
            <a href="/stock_data?symbol={{ stock.symbol }}" target="_blank" class="{{ 'stock-up-multi' if stock.up else 'stock-down-multi' }}">
                {{ stock.symbol }} 
                <span style="color: {{ '#00C853' if stock.up else '#D32F2F' }};">{% if stock.up %}&#x25B2;{% else %}&#x25BC;{% endif %}</span>
            </a>
        {% endfor %}
    </div>    
  </div></br>

  <div class="container">
    <h4><p style="text-align:center">

      <button id="view-dashboard" type="button">Refresh</button>
      <input id="txt" name="addstock" type="text" maxlength="5" size="7" >
      <button id="add-stock" type="button">=Add Stock=</button>
      <button id="view-stock" type="button" title="View Stock News, Institution Holders, Charts, etc.">=$tock dashboard=</button>
      <button id="admin" type="button">Admin site</button>
      </p></h4></div>
  <div id="chart" class="chart"></div>
<div>{% if positiveCount and negativeCount %}<center><h6>Stock market indexes Strong stocks: <span style="color: green;">{{ positiveCount }}</span> Weak stocks: <span style="color: red;"> {{ negativeCount }} </span> Neutral stocks: <span style="color: rgb(236, 243, 102);"> {{ noMoveCount }} </span></h6></center>
{% else %} {% endif %}
</div>
<div class="stocks-container">
{% if stockInSqueeze %}
<div class="stock-category">
        <div class="header-text">Coming out of Squeeze</div>
        <div>
          {% for stock in stockInSqueeze %}
          {% if loop.index <= 15 %}
              {% if stock in multi_category_stocks %}
                <a href="/stock_data?symbol={{ stock }}" target="_blank" class="stock-badge-multi" >{{ stock }}
                    {% if stock in stocksUp %}
                        <span style="color: green;">&#x25B2;</span>
                    {% elif stock in stocksDown %}
                        <span style="color: red;">&#x25BC;</span>
                    {% endif %}
                </a>
            
              {% else %}
                <a href="/stock_data?symbol={{ stock }}" target="_blank" class="stock-badge" >{{ stock }}
                    {% if stock in stocksUp %}
                        <span style="color: green;">&#x25B2;</span>
                    {% elif stock in stocksDown %}
                        <span style="color: red;">&#x25BC;</span>
                    {% endif %}
                </a>
                
              {% endif %}
          {% else %}
            {% if stock in multi_category_stocks %}
            <a href="/stock_data?symbol={{ stock }}" target="_blank" class="stock-badge-multi hidden-stock" >{{ stock }}
                    {% if stock in stocksUp %}
                    <span style="color: green;">&#x25B2;</span>
                {% elif stock in stocksDown %}
                    <span style="color: red;">&#x25BC;</span>
                {% endif %}
            </a>
            {% else %}
            <a href="/stock_data?symbol={{ stock }}" target="_blank" class="stock-badge hidden-stock" >{{ stock }}
                    {% if stock in stocksUp %}
                    <span style="color: green;">&#x25B2;</span>
                {% elif stock in stocksDown %}
                    <span style="color: red;">&#x25BC;</span>
                {% endif %}
            </a>
            {% endif %}
        {% endif %}
      {% endfor %}
      {% if stockInSqueeze|length > 15 %}
          <a href="#" class="show-more">More</a>
      {% endif %}
      
        </div>
      </div>
{% else %}
{% endif %}

{% if oversold %}
<div class="stock-category">
        <div class="header-text">Oversold</div>
        <div>
          {% for stock in oversold %}
          {% if loop.index <= 15 %}
              {% if stock in multi_category_stocks %}
                <a href="/stock_data?symbol={{ stock }}" target="_blank" class="stock-badge-multi" >{{ stock }}
                    {% if stock in stocksUp %}
                        <span style="color: green;">&#x25B2;</span>
                    {% elif stock in stocksDown %}
                        <span style="color: red;">&#x25BC;</span>
                    {% endif %}
                </a>
            
              {% else %}
                <a href="/stock_data?symbol={{ stock }}" target="_blank" class="stock-badge" >{{ stock }}
                    {% if stock in stocksUp %}
                        <span style="color: green;">&#x25B2;</span>
                    {% elif stock in stocksDown %}
                        <span style="color: red;">&#x25BC;</span>
                    {% endif %}
                </a>
                
              {% endif %}
          {% else %}
            {% if stock in multi_category_stocks %}
            <a href="/stock_data?symbol={{ stock }}" target="_blank" class="stock-badge-multi hidden-stock" >{{ stock }}
                    {% if stock in stocksUp %}
                    <span style="color: green;">&#x25B2;</span>
                {% elif stock in stocksDown %}
                    <span style="color: red;">&#x25BC;</span>
                {% endif %}
            </a>
            {% else %}
            <a href="/stock_data?symbol={{ stock }}" target="_blank" class="stock-badge hidden-stock" >{{ stock }}
                    {% if stock in stocksUp %}
                    <span style="color: green;">&#x25B2;</span>
                {% elif stock in stocksDown %}
                    <span style="color: red;">&#x25BC;</span>
                {% endif %}
            </a>
            {% endif %}
        {% endif %}
      {% endfor %}
      {% if oversold|length > 15 %}
          <a href="#" class="show-more">More</a>
      {% endif %}
      
        </div>
      </div>
{% else %}
{% endif %}


{% if overbought %}
<div class="stock-category">
        <div class="header-text">Overbought</div>
        <div>
          {% for stock in overbought %}
          {% if loop.index <= 15 %}
              {% if stock in multi_category_stocks %}
                <a href="/stock_data?symbol={{ stock }}" target="_blank" class="stock-badge-multi" >{{ stock }}
                    {% if stock in stocksUp %}
                        <span style="color: green;">&#x25B2;</span>
                    {% elif stock in stocksDown %}
                        <span style="color: red;">&#x25BC;</span>
                    {% endif %}
                </a>
            
              {% else %}
                <a href="/stock_data?symbol={{ stock }}" target="_blank" class="stock-badge" >{{ stock }}
                    {% if stock in stocksUp %}
                        <span style="color: green;">&#x25B2;</span>
                    {% elif stock in stocksDown %}
                        <span style="color: red;">&#x25BC;</span>
                    {% endif %}
                </a>
                
              {% endif %}
          {% else %}
            {% if stock in multi_category_stocks %}
            <a href="/stock_data?symbol={{ stock }}" target="_blank" class="stock-badge-multi hidden-stock" >{{ stock }}
                    {% if stock in stocksUp %}
                    <span style="color: green;">&#x25B2;</span>
                {% elif stock in stocksDown %}
                    <span style="color: red;">&#x25BC;</span>
                {% endif %}
            </a>
            {% else %}
            <a href="/stock_data?symbol={{ stock }}" target="_blank" class="stock-badge hidden-stock" >{{ stock }}
                    {% if stock in stocksUp %}
                    <span style="color: green;">&#x25B2;</span>
                {% elif stock in stocksDown %}
                    <span style="color: red;">&#x25BC;</span>
                {% endif %}
            </a>
            {% endif %}
        {% endif %}
      {% endfor %}
      {% if overbought|length > 15 %}
          <a href="#" class="show-more">More</a>
      {% endif %}
      
        </div>
      </div>
{% else %}
{% endif %}


{% if highRelativeVolumeStocks %}
<div class="stock-category">
        <div class="header-text">High relative volume</div>
        <div>
          {% for stock in highRelativeVolumeStocks %}
          {% if loop.index <= 15 %}
              {% if stock in multi_category_stocks %}
                <a href="/stock_data?symbol={{ stock }}" target="_blank" class="stock-badge-multi" >{{ stock }}
                    {% if stock in stocksUp %}
                        <span style="color: green;">&#x25B2;</span>
                    {% elif stock in stocksDown %}
                        <span style="color: red;">&#x25BC;</span>
                    {% endif %}
                </a>
            
              {% else %}
                <a href="/stock_data?symbol={{ stock }}" target="_blank" class="stock-badge" >{{ stock }}
                    {% if stock in stocksUp %}
                        <span style="color: green;">&#x25B2;</span>
                    {% elif stock in stocksDown %}
                        <span style="color: red;">&#x25BC;</span>
                    {% endif %}
                </a>
                
              {% endif %}
          {% else %}
            {% if stock in multi_category_stocks %}
            <a href="/stock_data?symbol={{ stock }}" target="_blank" class="stock-badge-multi hidden-stock" >{{ stock }}
                    {% if stock in stocksUp %}
                    <span style="color: green;">&#x25B2;</span>
                {% elif stock in stocksDown %}
                    <span style="color: red;">&#x25BC;</span>
                {% endif %}
            </a>
            {% else %}
            <a href="/stock_data?symbol={{ stock }}" target="_blank" class="stock-badge hidden-stock" >{{ stock }}
                    {% if stock in stocksUp %}
                    <span style="color: green;">&#x25B2;</span>
                {% elif stock in stocksDown %}
                    <span style="color: red;">&#x25BC;</span>
                {% endif %}
            </a>
            {% endif %}
        {% endif %}
      {% endfor %}
      {% if highRelativeVolumeStocks|length > 15 %}
          <a href="#" class="show-more">More</a>
      {% endif %}
      
        </div>
      </div>
{% else %}
{% endif %}



{% if crossAbove20MA %}
<div class="stock-category">
        <div class="header-text">Crossing 20MA</div>
        <div>
          {% for stock in crossAbove20MA %}
          {% if loop.index <= 15 %}
              {% if stock in multi_category_stocks %}
                <a href="/stock_data?symbol={{ stock }}" target="_blank" class="stock-badge-multi" >{{ stock }}
                    {% if stock in stocksUp %}
                        <span style="color: green;">&#x25B2;</span>
                    {% elif stock in stocksDown %}
                        <span style="color: red;">&#x25BC;</span>
                    {% endif %}
                </a>
            
              {% else %}
                <a href="/stock_data?symbol={{ stock }}" target="_blank" class="stock-badge" >{{ stock }}
                    {% if stock in stocksUp %}
                        <span style="color: green;">&#x25B2;</span>
                    {% elif stock in stocksDown %}
                        <span style="color: red;">&#x25BC;</span>
                    {% endif %}
                </a>
                
              {% endif %}
          {% else %}
            {% if stock in multi_category_stocks %}
            <a href="/stock_data?symbol={{ stock }}" target="_blank" class="stock-badge-multi hidden-stock" >{{ stock }}
                    {% if stock in stocksUp %}
                    <span style="color: green;">&#x25B2;</span>
                {% elif stock in stocksDown %}
                    <span style="color: red;">&#x25BC;</span>
                {% endif %}
            </a>
            {% else %}
            <a href="/stock_data?symbol={{ stock }}" target="_blank" class="stock-badge hidden-stock" >{{ stock }}
                    {% if stock in stocksUp %}
                    <span style="color: green;">&#x25B2;</span>
                {% elif stock in stocksDown %}
                    <span style="color: red;">&#x25BC;</span>
                {% endif %}
            </a>
            {% endif %}
        {% endif %}
      {% endfor %}
      {% if crossAbove20MA|length > 15 %}
          <a href="#" class="show-more">More</a>
      {% endif %}
      
        </div>
</div>
{% else %}
{% endif %}

{% if crossAbove44MA %}
<div class="stock-category">
        <div class="header-text">Crossing 44MA</div>
        <div>
          {% for stock in crossAbove44MA %}
          {% if loop.index <= 15 %}
              {% if stock in multi_category_stocks %}
                <a href="/stock_data?symbol={{ stock }}" target="_blank" class="stock-badge-multi" >{{ stock }}
                    {% if stock in stocksUp %}
                        <span style="color: green;">&#x25B2;</span>
                    {% elif stock in stocksDown %}
                        <span style="color: red;">&#x25BC;</span>
                    {% endif %}
                </a>
            
              {% else %}
                <a href="/stock_data?symbol={{ stock }}" target="_blank" class="stock-badge" >{{ stock }}
                    {% if stock in stocksUp %}
                        <span style="color: green;">&#x25B2;</span>
                    {% elif stock in stocksDown %}
                        <span style="color: red;">&#x25BC;</span>
                    {% endif %}
                </a>
                
              {% endif %}
          {% else %}
            {% if stock in multi_category_stocks %}
            <a href="/stock_data?symbol={{ stock }}" target="_blank" class="stock-badge-multi hidden-stock" >{{ stock }}
                    {% if stock in stocksUp %}
                    <span style="color: green;">&#x25B2;</span>
                {% elif stock in stocksDown %}
                    <span style="color: red;">&#x25BC;</span>
                {% endif %}
            </a>
            {% else %}
            <a href="/stock_data?symbol={{ stock }}" target="_blank" class="stock-badge hidden-stock" >{{ stock }}
                    {% if stock in stocksUp %}
                    <span style="color: green;">&#x25B2;</span>
                {% elif stock in stocksDown %}
                    <span style="color: red;">&#x25BC;</span>
                {% endif %}
            </a>
            {% endif %}
        {% endif %}
      {% endfor %}
      {% if crossAbove44MA|length > 15 %}
          <a href="#" class="show-more">More</a>
      {% endif %}
      
        </div>
</div>
{% else %}
{% endif %}

{% if crossAbove50MA %}
<div class="stock-category">
        <div class="header-text">Crossing 50MA</div>
        <div>
          {% for stock in crossAbove50MA %}
          {% if loop.index <= 15 %}
              {% if stock in multi_category_stocks %}
                <a href="/stock_data?symbol={{ stock }}" target="_blank" class="stock-badge-multi" >{{ stock }}
                    {% if stock in stocksUp %}
                        <span style="color: green;">&#x25B2;</span>
                    {% elif stock in stocksDown %}
                        <span style="color: red;">&#x25BC;</span>
                    {% endif %}
                </a>
            
              {% else %}
                <a href="/stock_data?symbol={{ stock }}" target="_blank" class="stock-badge" >{{ stock }}
                    {% if stock in stocksUp %}
                        <span style="color: green;">&#x25B2;</span>
                    {% elif stock in stocksDown %}
                        <span style="color: red;">&#x25BC;</span>
                    {% endif %}
                </a>
                
              {% endif %}
          {% else %}
            {% if stock in multi_category_stocks %}
            <a href="/stock_data?symbol={{ stock }}" target="_blank" class="stock-badge-multi hidden-stock" >{{ stock }}
                    {% if stock in stocksUp %}
                    <span style="color: green;">&#x25B2;</span>
                {% elif stock in stocksDown %}
                    <span style="color: red;">&#x25BC;</span>
                {% endif %}
            </a>
            {% else %}
            <a href="/stock_data?symbol={{ stock }}" target="_blank" class="stock-badge hidden-stock" >{{ stock }}
                    {% if stock in stocksUp %}
                    <span style="color: green;">&#x25B2;</span>
                {% elif stock in stocksDown %}
                    <span style="color: red;">&#x25BC;</span>
                {% endif %}
            </a>
            {% endif %}
        {% endif %}
      {% endfor %}
      {% if crossAbove50MA|length > 15 %}
          <a href="#" class="show-more">More</a>
      {% endif %}
      
        </div>
      </div>
{% else %}
{% endif %}

{% if crossBelow20MA %}
<div class="stock-category">

        <div class="header-text">Below 20MA</div>
        <div>
          {% for stock in crossBelow20MA %}
          {% if loop.index <= 15 %}
              {% if stock in multi_category_stocks %}
                <a href="/stock_data?symbol={{ stock }}" target="_blank" class="stock-badge-multi" >{{ stock }}
                    {% if stock in stocksUp %}
                        <span style="color: green;">&#x25B2;</span>
                    {% elif stock in stocksDown %}
                        <span style="color: red;">&#x25BC;</span>
                    {% endif %}
                </a>
            
              {% else %}
                <a href="/stock_data?symbol={{ stock }}" target="_blank" class="stock-badge" >{{ stock }}
                    {% if stock in stocksUp %}
                        <span style="color: green;">&#x25B2;</span>
                    {% elif stock in stocksDown %}
                        <span style="color: red;">&#x25BC;</span>
                    {% endif %}
                </a>
                
              {% endif %}
          {% else %}
            {% if stock in multi_category_stocks %}
            <a href="/stock_data?symbol={{ stock }}" target="_blank" class="stock-badge-multi hidden-stock" >{{ stock }}
                    {% if stock in stocksUp %}
                    <span style="color: green;">&#x25B2;</span>
                {% elif stock in stocksDown %}
                    <span style="color: red;">&#x25BC;</span>
                {% endif %}
            </a>
            {% else %}
            <a href="/stock_data?symbol={{ stock }}" target="_blank" class="stock-badge hidden-stock" >{{ stock }}
                    {% if stock in stocksUp %}
                    <span style="color: green;">&#x25B2;</span>
                {% elif stock in stocksDown %}
                    <span style="color: red;">&#x25BC;</span>
                {% endif %}
            </a>
            {% endif %}
        {% endif %}
      {% endfor %}
      {% if crossBelow20MA|length > 15 %}
          <a href="#" class="show-more">More</a>
      {% endif %}
      
        </div>
      </div>
{% else %}
{% endif %}

{% if crossBelow44MA %}
<div class="stock-category">

        <div class="header-text">Below 44MA</div>
        <div>
          {% for stock in crossBelow44MA %}
          {% if loop.index <= 15 %}
              {% if stock in multi_category_stocks %}
                <a href="/stock_data?symbol={{ stock }}" target="_blank" class="stock-badge-multi" >{{ stock }}
                    {% if stock in stocksUp %}
                        <span style="color: green;">&#x25B2;</span>
                    {% elif stock in stocksDown %}
                        <span style="color: red;">&#x25BC;</span>
                    {% endif %}
                </a>
            
              {% else %}
                <a href="/stock_data?symbol={{ stock }}" target="_blank" class="stock-badge" >{{ stock }}
                    {% if stock in stocksUp %}
                        <span style="color: green;">&#x25B2;</span>
                    {% elif stock in stocksDown %}
                        <span style="color: red;">&#x25BC;</span>
                    {% endif %}
                </a>
                
              {% endif %}
          {% else %}
            {% if stock in multi_category_stocks %}
            <a href="/stock_data?symbol={{ stock }}" target="_blank" class="stock-badge-multi hidden-stock" >{{ stock }}
                    {% if stock in stocksUp %}
                    <span style="color: green;">&#x25B2;</span>
                {% elif stock in stocksDown %}
                    <span style="color: red;">&#x25BC;</span>
                {% endif %}
            </a>
            {% else %}
            <a href="/stock_data?symbol={{ stock }}" target="_blank" class="stock-badge hidden-stock" >{{ stock }}
                    {% if stock in stocksUp %}
                    <span style="color: green;">&#x25B2;</span>
                {% elif stock in stocksDown %}
                    <span style="color: red;">&#x25BC;</span>
                {% endif %}
            </a>
            {% endif %}
        {% endif %}
      {% endfor %}
      {% if crossBelow44MA|length > 15 %}
          <a href="#" class="show-more">More</a>
      {% endif %}
      
        </div>
      </div>
{% else %}
{% endif %}

{% if crossBelow50MA %}
<div class="stock-category">

        <div class="header-text">Below 50MA</div>
        <div>
          {% for stock in crossBelow50MA %}
          {% if loop.index <= 15 %}
              {% if stock in multi_category_stocks %}
                <a href="/stock_data?symbol={{ stock }}" target="_blank" class="stock-badge-multi" >{{ stock }}
                    {% if stock in stocksUp %}
                        <span style="color: green;">&#x25B2;</span>
                    {% elif stock in stocksDown %}
                        <span style="color: red;">&#x25BC;</span>
                    {% endif %}
                </a>
            
              {% else %}
                <a href="/stock_data?symbol={{ stock }}" target="_blank" class="stock-badge" >{{ stock }}
                    {% if stock in stocksUp %}
                        <span style="color: green;">&#x25B2;</span>
                    {% elif stock in stocksDown %}
                        <span style="color: red;">&#x25BC;</span>
                    {% endif %}
                </a>
                
              {% endif %}
          {% else %}
            {% if stock in multi_category_stocks %}
            <a href="/stock_data?symbol={{ stock }}" target="_blank" class="stock-badge-multi hidden-stock" >{{ stock }}
                    {% if stock in stocksUp %}
                    <span style="color: green;">&#x25B2;</span>
                {% elif stock in stocksDown %}
                    <span style="color: red;">&#x25BC;</span>
                {% endif %}
            </a>
            {% else %}
            <a href="/stock_data?symbol={{ stock }}" target="_blank" class="stock-badge hidden-stock" >{{ stock }}
                    {% if stock in stocksUp %}
                    <span style="color: green;">&#x25B2;</span>
                {% elif stock in stocksDown %}
                    <span style="color: red;">&#x25BC;</span>
                {% endif %}
            </a>
            {% endif %}
        {% endif %}
      {% endfor %}
      {% if crossBelow50MA|length > 15 %}
          <a href="#" class="show-more">More</a>
      {% endif %}
      
        </div>
      </div>
{% else %}
{% endif %}


{% if cross20Ma50Ma %}
<div class="stock-category">

        <div class="header-text">20MA crossing 50MA</div>
        <div>
          {% for stock in cross20Ma50Ma %}
          {% if loop.index <= 15 %}
              {% if stock in multi_category_stocks %}
                <a href="/stock_data?symbol={{ stock }}" target="_blank" class="stock-badge-multi" >{{ stock }}
                    {% if stock in stocksUp %}
                        <span style="color: green;">&#x25B2;</span>
                    {% elif stock in stocksDown %}
                        <span style="color: red;">&#x25BC;</span>
                    {% endif %}
                </a>
            
              {% else %}
                <a href="/stock_data?symbol={{ stock }}" target="_blank" class="stock-badge" >{{ stock }}
                    {% if stock in stocksUp %}
                        <span style="color: green;">&#x25B2;</span>
                    {% elif stock in stocksDown %}
                        <span style="color: red;">&#x25BC;</span>
                    {% endif %}
                </a>
                
              {% endif %}
          {% else %}
            {% if stock in multi_category_stocks %}
            <a href="/stock_data?symbol={{ stock }}" target="_blank" class="stock-badge-multi hidden-stock" >{{ stock }}
                    {% if stock in stocksUp %}
                    <span style="color: green;">&#x25B2;</span>
                {% elif stock in stocksDown %}
                    <span style="color: red;">&#x25BC;</span>
                {% endif %}
            </a>
            {% else %}
            <a href="/stock_data?symbol={{ stock }}" target="_blank" class="stock-badge hidden-stock" >{{ stock }}
                    {% if stock in stocksUp %}
                    <span style="color: green;">&#x25B2;</span>
                {% elif stock in stocksDown %}
                    <span style="color: red;">&#x25BC;</span>
                {% endif %}
            </a>
            {% endif %}
        {% endif %}
      {% endfor %}
      {% if cross20Ma50Ma|length > 15 %}
          <a href="#" class="show-more">More</a>
      {% endif %}
      
        </div>
      </div>
{% else %}
{% endif %}


{% if cross20MaBelow50Ma %}
<div class="stock-category">

        <div class="header-text">20MA crossing below 50MA</div>
        <div>
          {% for stock in cross20MaBelow50Ma %}
          {% if loop.index <= 15 %}
              {% if stock in multi_category_stocks %}
                <a href="/stock_data?symbol={{ stock }}" target="_blank" class="stock-badge-multi" >{{ stock }}
                    {% if stock in stocksUp %}
                        <span style="color: green;">&#x25B2;</span>
                    {% elif stock in stocksDown %}
                        <span style="color: red;">&#x25BC;</span>
                    {% endif %}
                </a>
            
              {% else %}
                <a href="/stock_data?symbol={{ stock }}" target="_blank" class="stock-badge" >{{ stock }}
                    {% if stock in stocksUp %}
                        <span style="color: green;">&#x25B2;</span>
                    {% elif stock in stocksDown %}
                        <span style="color: red;">&#x25BC;</span>
                    {% endif %}
                </a>
                
              {% endif %}
          {% else %}
            {% if stock in multi_category_stocks %}
            <a href="/stock_data?symbol={{ stock }}" target="_blank" class="stock-badge-multi hidden-stock" >{{ stock }}
                    {% if stock in stocksUp %}
                    <span style="color: green;">&#x25B2;</span>
                {% elif stock in stocksDown %}
                    <span style="color: red;">&#x25BC;</span>
                {% endif %}
            </a>
            {% else %}
            <a href="/stock_data?symbol={{ stock }}" target="_blank" class="stock-badge hidden-stock" >{{ stock }}
                    {% if stock in stocksUp %}
                    <span style="color: green;">&#x25B2;</span>
                {% elif stock in stocksDown %}
                    <span style="color: red;">&#x25BC;</span>
                {% endif %}
            </a>
            {% endif %}
        {% endif %}
      {% endfor %}
      {% if cross20MaBelow50Ma|length > 15 %}
          <a href="#" class="show-more">More</a>
      {% endif %}
      
        </div>
      </div>
{% else %}
{% endif %}
&#x23F1<div id="timer">&#x23F1</div> 
  </div>
</br>

      <div class="tabley">  
    <table class="table table-striped" id="stock-table">
      <thead class="thead-dark">
        <tr>
          {% for col in column_names %}
            <th>{{ col }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for entry in data %}
          <tr>
            {% for col in column_names %}
              {% if col == 'Symbol' %}
                <td><a href="/stock_data?symbol={{ entry['Symbol'] }}" target="_blank">{{ entry['Symbol'] }}</a></td>
              {% elif col == 'Change' and entry['Change']|float < 0.0 %}
                <td style="background-color: rgb(205, 151, 151)">{{ entry['Change'] }}</td>
              {% elif col == 'Change percent' and entry['Change percent']|float > 3.0 %}
                <td style="background-color: #eff3f8">{{ entry['Change percent'] }}</td>
              {% else %}
                <td>{{ entry[col] }}</td>
              {% endif %}
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <style>
    .header-text {
        font-size: 0.7rem;
        color: #75899d;
        margin-bottom: 10px;
        text-transform: uppercase;
        border-bottom: 2px solid #851538;
        padding-bottom: 5px;
        display: inline-block;
    }
    .stock-badge {
        display: inline-block;
        padding: 3px 6px;
        margin: 1px;
        /* background-color: #5B504F; */
        background-color: #171818;
        color: white;
        border: 1px solid #ccc;
        border-radius: 8px;
        font-size: 0.75rem;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
    }


    .stock-badge:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); 
    }
    .stocks-container {
        display: flex;
        flex-wrap: wrap; 
        justify-content: space-between; 
        gap: 20px;
    }
    .stock-category {
        flex: 1; 
        min-width: 200px; /* Minimum width for each category */
    }

    .stock-badge-multi {
        background-color: #FF4500;
        display: inline-block;
        padding: 3px 6px;
        margin: 1px;
        color: white;
        border-radius: 8px;
        font-size: 0.75rem;
        border: 1px solid #ccc; 
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
        transition: 0.3s;
    }

    .stock-badge-multi:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); 
    }

    .hidden-stock {
    display: none;
    }

    .show-more {
      background-color: #36454F;  
      color: white;
      padding: 3px 6px;
      border-radius: 8px;
      font-size: 0.75rem;
      margin-left: 5px;
      margin-top: 10px; 
      display: inline-block; 
      vertical-align: top; /* To vertically align it with the badges */
      cursor: pointer;
      text-decoration: none; /* Remove the underline */
      transition: background-color 0.3s; /* Smooth transition for hover */
    }

    .show-more:hover {
      background-color: #2a3b45; /* Slightly darker shade for hover effect */
    }

    .ticker {
    width: 100%;
    overflow: hidden;
    background-color: #070707d5; 
    position: fixed; /* to keep it at the top */
    top: 0;
    z-index: 1000; /* to ensure it stays above other content */
    }

    .ticker-content {
    display: inline-block;
    white-space: nowrap;
    animation: ticker 50s linear infinite;
    }

    @keyframes ticker {
    from {
        transform: translateX(10%);
    }
    to {
        transform: translateX(-100%);
    }
    }

    .stock-up-multi {
    color: #00C853;  /* Green for stocks that are up */
    display: inline-block;
    padding: 3px 6px;
    margin: 1px;
    border-radius: 8px;
    font-size: 0.85rem;
    }

    .stock-down-multi {
    color: #D32F2F;  /* Red for stocks that are down */
    display: inline-block;
    padding: 3px 6px;
    margin: 1px;
    border-radius: 8px;
    font-size: 0.85rem;
    }


    
    /* .stock-badge-multi-top {
    background-color: #FF4500;
    display: inline-block;
    padding: 3px 6px;
    margin: 1px;
    color: white;
    border-radius: 8px;
    font-size: 0.85rem;
    } */
    </style>
    

  {% block scripts %} 
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
<script type="text/javascript">$(document).ready(function(){$('table').DataTable({
    "pageLength": 15,
    order: [[6, 'desc']]
});});</script>
    <script>
      $(window).on('load', function () {
          $('#loading').hide();
          $('#loading2').hide();
          $('#loading3').hide();
      })
    </script>
  <script>
    const viewDashboardButton = document.getElementById("view-dashboard");
    const addStockButton = document.getElementById("add-stock");
    const viewStockButton = document.getElementById("view-stock");
    const input = document.getElementById("txt");
    const adminButton = document.getElementById("admin");

  
    viewDashboardButton.addEventListener("click", function() {
      window.location.href = "/view";
      $('#loading2').show();
    });
  
    input.addEventListener("keyup", function() {
      this.value = this.value.toUpperCase();
    });
  
    addStockButton.addEventListener("click", function() {
      location.href = `http://{{ ip }}:80/${input.value}`;
    });

    adminButton.addEventListener("click", function() {
      location.href = `http://{{ ip }}:80/admin`;
    });
  
    viewStockButton.addEventListener("click", function() {
      location.href = `http://{{ ip }}:80/stock_data?symbol=${input.value}`;
    });
</script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    {% if data %}
    <script type="text/javascript">
      var graphs = {{graphJSON | safe}};
      Plotly.plot('chart',graphs,{});        
  </script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
      {% if enableRefresh %}
        console.log('Timer is enabled');
        var time = 60;
        var timer = setInterval(function() {
          time -= 1;
          document.getElementById('timer').innerHTML = time;
          if (time <= 0) {
            clearInterval(timer);
            location.reload();
          }
        }, 1000);
      {% else %}
        console.log('Timer is not enabled');
      {% endif %}
    });
</script>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
    const moreLinks = document.querySelectorAll('.show-more');
    
    moreLinks.forEach(link => {
        link.addEventListener('click', function(event) {
            event.preventDefault();
            const hiddenStocks = this.parentElement.querySelectorAll('.hidden-stock');
            
            hiddenStocks.forEach(stock => {
                stock.style.display = 'inline-block';
            });
            
            this.style.display = 'none';
            });
        });
    });

  </script>
  <script>
    document.querySelector('.ticker').addEventListener('mouseover', () => {
    document.querySelector('.ticker-content').style.animationPlayState = 'paused';
    });

    document.querySelector('.ticker').addEventListener('mouseout', () => {
    document.querySelector('.ticker-content').style.animationPlayState = 'running';
    });

  </script>
  {% endif %}
  {% endblock %}
{% endblock %}
